viaa_metadatamodel_van_cp_naar_viaa.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="VIAA">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:element type="xs:string" name="CP"/>
        <xs:element name="sp_name" default="borndigital">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="borndigital"/>
              <xs:enumeration value="Memnon"/>
            </xs:restriction>
          </xs:simpleType>  
        </xs:element>
        <xs:element type="xs:string" name="dc_source"/>
        <xs:element type="xs:string" name="dc_identifier_localid"/>
        <xs:element name="dc_identifier_localids">
          <xs:complexType>
            <xs:sequence>
              <xs:any maxOccurs="unbounded" processContents="skip"/>
            </xs:sequence>
            <xs:attribute type="xs:string" name="type" use="required" fixed="list"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="md5">
          <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:pattern value="[a-zA-Z0-9]{32}"/>
              </xs:restriction>
            </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="1" maxOccurs="1" type="xs:string" name="dc_title"/>
        <xs:element name="dc_titles">
          <xs:complexType>
            <xs:choice maxOccurs="unbounded">
              <xs:element type="xs:string" name="serie"/>
              <xs:element type="xs:string" name="episode"/>
              <xs:element type="xs:string" name="aflevering"/>
              <xs:element type="xs:string" name="alternatief"/>
              <xs:element type="xs:string" name="programma"/>
              <xs:element type="xs:string" name="serienummer"/>
              <xs:element type="xs:string" name="seizoen"/>
              <xs:element type="xs:string" name="seizoennummer"/>
              <xs:element type="xs:string" name="archief"/>
              <xs:element type="xs:string" name="deelarchief"/>
              <xs:element type="xs:string" name="reeks"/>
              <xs:element type="xs:string" name="deelreeks"/>
              <xs:element type="xs:string" name="registratie"/>
            </xs:choice>
            <xs:attribute type="xs:string" name="type" use="required" fixed="list"/>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="dcterms_issued"/>
        <xs:element type="xs:string" name="dcterms_created"/>
        <xs:element maxOccurs="1" type="xs:string" name="ebu_objectType"/>
        <xs:element name="dc_creators">
          <xs:complexType>
            <xs:choice maxOccurs="unbounded">
              <xs:element type="xs:string" name="Archiefvormer"/>
              <xs:element type="xs:string" name="Maker"/>
              <xs:element type="xs:string" name="Auteur"/>
              <xs:element type="xs:string" name="Cineast"/>
              <xs:element type="xs:string" name="Componist"/>
              <xs:element type="xs:string" name="Documentairemaker"/>
              <xs:element type="xs:string" name="Fotograaf"/>
              <xs:element type="xs:string" name="Interviewer"/>
              <xs:element type="xs:string" name="Kunstenaar"/>
              <xs:element type="xs:string" name="Muzikant"/>
              <xs:element type="xs:string" name="Performer"/>
              <xs:element type="xs:string" name="Producer"/>
              <xs:element type="xs:string" name="Productiehuis"/>
              <xs:element type="xs:string" name="Regisseur"/>
              <xs:element type="xs:string" name="Schrijver"/>
            </xs:choice>
            <xs:attribute type="xs:string" name="type" use="required" fixed="list"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="dc_contributors">
          <xs:complexType>
            <xs:choice maxOccurs="unbounded">
              <xs:element type="xs:string" name="Bijdrager"/>
              <xs:element type="xs:string" name="Adviseur"/>
              <xs:element type="xs:string" name="Arrangeur"/>
              <xs:element type="xs:string" name="Assistent"/>
              <xs:element type="xs:string" name="Auteur"/>
              <xs:element type="xs:string" name="Belichting"/>
              <xs:element type="xs:string" name="Cameraman"/>
              <xs:element type="xs:string" name="Co-producer"/>
              <xs:element type="xs:string" name="Commentator"/>
              <xs:element type="xs:string" name="Componist"/>
              <xs:element type="xs:string" name="Dirigent"/>
              <xs:element type="xs:string" name="Fotografie"/>
              <xs:element type="xs:string" name="Geluid"/>
              <xs:element type="xs:string" name="Geluidsman"/>
              <xs:element type="xs:string" name="Kunstenaar"/>
              <xs:element type="xs:string" name="Make-up"/>
              <xs:element type="xs:string" name="Muzikant"/>
              <xs:element type="xs:string" name="Nieuwsanker"/>
              <xs:element type="xs:string" name="Omroeper"/>
              <xs:element type="xs:string" name="Onderzoeker"/>
              <xs:element type="xs:string" name="Post-productie"/>
              <xs:element type="xs:string" name="Producer"/>
              <xs:element type="xs:string" name="Reporter"/>
              <xs:element type="xs:string" name="Scenarist"/>
              <xs:element type="xs:string" name="Soundtrack"/>
              <xs:element type="xs:string" name="Sponsor"/>
              <xs:element type="xs:string" name="Uitvoerder"/>
              <xs:element type="xs:string" name="Vertaler"/>
              <xs:element type="xs:string" name="Verteller"/>
              <xs:element type="xs:string" name="Artistiek_directeur"/>
              <xs:element type="xs:string" name="Decor_ontwerper"/>
              <xs:element type="xs:string" name="Grafisch_ontwerper"/>
              <xs:element type="xs:string" name="Kostuum_ontwerper"/>
              <xs:element type="xs:string" name="Technisch_adviseur"/>
            </xs:choice>
            <xs:attribute type="xs:string" name="type" use="required" fixed="list"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="dc_publishers">
          <xs:complexType>
            <xs:choice maxOccurs="unbounded">
              <xs:element type="xs:string" name="Distributeur"/>
              <xs:element type="xs:string" name="Exposant"/>
              <xs:element type="xs:string" name="Persagentschap"/>
              <xs:element type="xs:string" name="Publisher"/>
            </xs:choice>
            <xs:attribute type="xs:string" name="type" use="required" fixed="list"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="dc_subjects">
          <xs:complexType>
            <xs:choice maxOccurs="unbounded">
              <xs:element type="xs:string" name="Trefwoord"/>
            </xs:choice>
            <xs:attribute type="xs:string" name="type" use="required" fixed="list"/>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="dc_description"/>
        <xs:element type="xs:string" name="dc_description_lang"/>
        <xs:element type="xs:string" name="dc_description_programme"/>
        <xs:element type="xs:string" name="dc_description_cast"/>
        <xs:element type="xs:string" name="dc_description_ondertitels"/>
        <xs:element type="xs:string" name="dc_description_transcriptie"/>
        <xs:element type="xs:string" name="dc_description_categorie"/>
        <xs:element name="dc_types">
          <xs:complexType>
            <xs:choice maxOccurs="unbounded">
              <xs:element name="multiselect"> 
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="Animatie"/>
                    <xs:enumeration value="Concert"/>
                    <xs:enumeration value="Dans"/>
                    <xs:enumeration value="Docudrama"/>
                    <xs:enumeration value="Documentaire"/>
                    <xs:enumeration value="Documentatie"/>
                    <xs:enumeration value="Drama"/>
                    <xs:enumeration value="Educatief"/>
                    <xs:enumeration value="Entertainment"/>
                    <xs:enumeration value="Fictie"/>
                    <xs:enumeration value="Interview"/>
                    <xs:enumeration value="Komedie"/>
                    <xs:enumeration value="Kortfilm"/>
                    <xs:enumeration value="Kunstwerk"/>
                    <xs:enumeration value="Muziekopname"/>
                    <xs:enumeration value="Nieuws"/>
                    <xs:enumeration value="Non-fictie"/>
                    <xs:enumeration value="Opera"/>
                    <xs:enumeration value="Performance"/>
                    <xs:enumeration value="Speelfilm"/>
                    <xs:enumeration value="Sport"/>
                    <xs:enumeration value="Sportverslaggeving"/>
                    <xs:enumeration value="Wetenschap"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:choice>
            <xs:attribute type="xs:string" name="type" use="required" fixed="list"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="dc_coverages">
          <xs:complexType>
            <xs:choice maxOccurs="unbounded">
              <xs:element type="xs:string" name="ruimte" minOccurs="0"/>
              <xs:element type="xs:string" name="tijd" minOccurs="0"/>
            </xs:choice>
            <xs:attribute type="xs:string" name="type" use="required" fixed="list"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="dc_languages">
                <xs:complexType>
                  <xs:choice maxOccurs="unbounded">
                    <xs:element name="multiselect"> 
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:enumeration value="nl"/>
                          <xs:enumeration value="fr"/>
                          <xs:enumeration value="de"/>
                          <xs:enumeration value="it"/>
                          <xs:enumeration value="en"/>
                          <xs:enumeration value="es"/>
                          <xs:enumeration value="aa"/>
                          <xs:enumeration value="ab"/>
                          <xs:enumeration value="ae"/>
                          <xs:enumeration value="af"/>
                          <xs:enumeration value="ak"/>
                          <xs:enumeration value="am"/>
                          <xs:enumeration value="an"/>
                          <xs:enumeration value="ar"/>
                          <xs:enumeration value="as"/>
                          <xs:enumeration value="av"/>
                          <xs:enumeration value="ay"/>
                          <xs:enumeration value="az"/>
                          <xs:enumeration value="ba"/>
                          <xs:enumeration value="be"/>
                          <xs:enumeration value="bg"/>
                          <xs:enumeration value="bh"/>
                          <xs:enumeration value="bi"/>
                          <xs:enumeration value="bm"/>
                          <xs:enumeration value="bn"/>
                          <xs:enumeration value="bo"/>
                          <xs:enumeration value="br"/>
                          <xs:enumeration value="bs"/>
                          <xs:enumeration value="ca"/>
                          <xs:enumeration value="ce"/>
                          <xs:enumeration value="ch"/>
                          <xs:enumeration value="co"/>
                          <xs:enumeration value="cr"/>
                          <xs:enumeration value="cs"/>
                          <xs:enumeration value="cu"/>
                          <xs:enumeration value="cv"/>
                          <xs:enumeration value="cy"/>
                          <xs:enumeration value="da"/>
                          <xs:enumeration value="dv"/>
                          <xs:enumeration value="dz"/>
                          <xs:enumeration value="ee"/>
                          <xs:enumeration value="el"/>
                          <xs:enumeration value="eo"/>
                          <xs:enumeration value="et"/>
                          <xs:enumeration value="eu"/>
                          <xs:enumeration value="fa"/>
                          <xs:enumeration value="ff"/>
                          <xs:enumeration value="fi"/>
                          <xs:enumeration value="fj"/>
                          <xs:enumeration value="fo"/>
                          <xs:enumeration value="fy"/>
                          <xs:enumeration value="ga"/>
                          <xs:enumeration value="gd"/>
                          <xs:enumeration value="gl"/>
                          <xs:enumeration value="gn"/>
                          <xs:enumeration value="gu"/>
                          <xs:enumeration value="gv"/>
                          <xs:enumeration value="ha"/>
                          <xs:enumeration value="he"/>
                          <xs:enumeration value="hi"/>
                          <xs:enumeration value="ho"/>
                          <xs:enumeration value="hr"/>
                          <xs:enumeration value="ht"/>
                          <xs:enumeration value="hu"/>
                          <xs:enumeration value="hy"/>
                          <xs:enumeration value="hz"/>
                          <xs:enumeration value="ia"/>
                          <xs:enumeration value="id"/>
                          <xs:enumeration value="ie"/>
                          <xs:enumeration value="ig"/>
                          <xs:enumeration value="ii"/>
                          <xs:enumeration value="ik"/>
                          <xs:enumeration value="io"/>
                          <xs:enumeration value="is"/>
                          <xs:enumeration value="iu"/>
                          <xs:enumeration value="ja"/>
                          <xs:enumeration value="jv"/>
                          <xs:enumeration value="ka"/>
                          <xs:enumeration value="kg"/>
                          <xs:enumeration value="ki"/>
                          <xs:enumeration value="kj"/>
                          <xs:enumeration value="kk"/>
                          <xs:enumeration value="kl"/>
                          <xs:enumeration value="km"/>
                          <xs:enumeration value="kn"/>
                          <xs:enumeration value="ko"/>
                          <xs:enumeration value="kr"/>
                          <xs:enumeration value="ks"/>
                          <xs:enumeration value="ku"/>
                          <xs:enumeration value="kv"/>
                          <xs:enumeration value="kw"/>
                          <xs:enumeration value="ky"/>
                          <xs:enumeration value="la"/>
                          <xs:enumeration value="lb"/>
                          <xs:enumeration value="lg"/>
                          <xs:enumeration value="li"/>
                          <xs:enumeration value="ln"/>
                          <xs:enumeration value="lo"/>
                          <xs:enumeration value="lt"/>
                          <xs:enumeration value="lu"/>
                          <xs:enumeration value="lv"/>
                          <xs:enumeration value="mg"/>
                          <xs:enumeration value="mh"/>
                          <xs:enumeration value="mi"/>
                          <xs:enumeration value="mk"/>
                          <xs:enumeration value="ml"/>
                          <xs:enumeration value="mn"/>
                          <xs:enumeration value="mo"/>
                          <xs:enumeration value="mr"/>
                          <xs:enumeration value="ms"/>
                          <xs:enumeration value="mt"/>
                          <xs:enumeration value="my"/>
                          <xs:enumeration value="na"/>
                          <xs:enumeration value="nb"/>
                          <xs:enumeration value="nd"/>
                          <xs:enumeration value="ne"/>
                          <xs:enumeration value="ng"/>
                          <xs:enumeration value="nn"/>
                          <xs:enumeration value="no"/>
                          <xs:enumeration value="nr"/>
                          <xs:enumeration value="nv"/>
                          <xs:enumeration value="ny"/>
                          <xs:enumeration value="oc"/>
                          <xs:enumeration value="oj"/>
                          <xs:enumeration value="om"/>
                          <xs:enumeration value="or"/>
                          <xs:enumeration value="os"/>
                          <xs:enumeration value="pa"/>
                          <xs:enumeration value="pi"/>
                          <xs:enumeration value="pl"/>
                          <xs:enumeration value="ps"/>
                          <xs:enumeration value="pt"/>
                          <xs:enumeration value="qu"/>
                          <xs:enumeration value="rm"/>
                          <xs:enumeration value="rn"/>
                          <xs:enumeration value="ro"/>
                          <xs:enumeration value="ru"/>
                          <xs:enumeration value="rw"/>
                          <xs:enumeration value="sa"/>
                          <xs:enumeration value="sc"/>
                          <xs:enumeration value="sd"/>
                          <xs:enumeration value="se"/>
                          <xs:enumeration value="sg"/>
                          <xs:enumeration value="sh"/>
                          <xs:enumeration value="si"/>
                          <xs:enumeration value="sk"/>
                          <xs:enumeration value="sl"/>
                          <xs:enumeration value="sm"/>
                          <xs:enumeration value="sn"/>
                          <xs:enumeration value="so"/>
                          <xs:enumeration value="sq"/>
                          <xs:enumeration value="sr"/>
                          <xs:enumeration value="ss"/>
                          <xs:enumeration value="st"/>
                          <xs:enumeration value="su"/>
                          <xs:enumeration value="sv"/>
                          <xs:enumeration value="sw"/>
                          <xs:enumeration value="ta"/>
                          <xs:enumeration value="te"/>
                          <xs:enumeration value="tg"/>
                          <xs:enumeration value="th"/>
                          <xs:enumeration value="ti"/>
                          <xs:enumeration value="tk"/>
                          <xs:enumeration value="tl"/>
                          <xs:enumeration value="tn"/>
                          <xs:enumeration value="to"/>
                          <xs:enumeration value="tr"/>
                          <xs:enumeration value="ts"/>
                          <xs:enumeration value="tt"/>
                          <xs:enumeration value="tw"/>
                          <xs:enumeration value="ty"/>
                          <xs:enumeration value="ug"/>
                          <xs:enumeration value="uk"/>
                          <xs:enumeration value="ur"/>
                          <xs:enumeration value="uz"/>
                          <xs:enumeration value="ve"/>
                          <xs:enumeration value="vi"/>
                          <xs:enumeration value="vo"/>
                          <xs:enumeration value="wa"/>
                          <xs:enumeration value="wo"/>
                          <xs:enumeration value="xh"/>
                          <xs:enumeration value="yi"/>
                          <xs:enumeration value="yo"/>
                          <xs:enumeration value="za"/>
                          <xs:enumeration value="zh"/>
                          <xs:enumeration value="zu"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:choice>
                  <xs:attribute type="xs:string" name="type" use="required" fixed="list"/>
                </xs:complexType>
        </xs:element>
        <xs:element name="dc_rights_licenses">
          <xs:complexType>
            <xs:choice maxOccurs="unbounded">
              <xs:element name="multiselect"> 
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="VIAA-ONDERWIJS"/>
                    <xs:enumeration value="VIAA-ONDERZOEK"/>
                    <xs:enumeration value="VIAA-BIBLIOTHEKEN"/>
                    <xs:enumeration value="VIAA-INTRAMUROS"/>
                    <xs:enumeration value="VIAA-INTRA_CP-CONTENT"/>
                    <xs:enumeration value="VIAA-INTRA_CP-METADATA-ALL"/>
                    <xs:enumeration value="VIAA-PUBLIEK-METADATA-LTD"/>
                    <xs:enumeration value="VIAA-PUBLIEK-METADATA-ALL"/>
                    <xs:enumeration value="VIAA-PUBLIEK-CONTENT"/>
                    <xs:enumeration value="Publiek domein"/>
                    <xs:enumeration value="CC-BY-SA-METADATA"/>
                    <xs:enumeration value="CC-BY-SA-CONTENT"/>
                    <xs:enumeration value="CC BY-ND-METADATA"/>
                    <xs:enumeration value="CC BY-ND-CONTEN"/>
                    <xs:enumeration value="CC BY-NC-METADATA"/>
                    <xs:enumeration value="CC BY-NC-CONTENT"/>
                    <xs:enumeration value="CC BY-NC-ND-METADATA"/>
                    <xs:enumeration value="CC BY-NC-ND-CONTENT"/>
                    <xs:enumeration value="CC BY-NC-SA-METADATA"/>
                    <xs:enumeration value="CC BY-NC-SA-CONTENT"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:choice>
            <xs:attribute type="xs:string" name="type" use="required" fixed="list"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="dc_rights_rightsOwners">
          <xs:complexType>
            <xs:choice maxOccurs="unbounded">
              <xs:element type="xs:string" name="Auteursrechthouder"/>
            </xs:choice>
            <xs:attribute type="xs:string" name="type" use="required" fixed="list"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="dc_rights_rightsHolders">
          <xs:complexType>
            <xs:choice maxOccurs="unbounded">
              <xs:element type="xs:string" name="Licentiehouder"/>
            </xs:choice>
            <xs:attribute type="xs:string" name="type" use="required" fixed="list"/>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="dc_rights_credit"/>
        <xs:element type="xs:string" name="dc_rights_comment"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
</xs:schema>
