viaa_metadatamodel_xsd.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="VIAA">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:element type="xs:string" name="CP"/>
        <xs:element type="xs:string" name="sp_name" default="borndigital">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="borndigital"/>
              <xs:enumeration value="Memnon"/>
            </xs:restriction>
            <xs:attribute type="xs:string" name="type"/>
          </xs:simpleType>  
        </xs:element>
        <xs:element type="xs:string" name="dc_source"/>
        <xs:element type="xs:string" name="dc_identifier_localid"/>
        <xs:element name="dc_identifier_localids"/>
        <xs:element type="xs:string" name="md5">
          <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:pattern value="[a-zA-Z0-9]{32}"/>
              </xs:restriction>
            </xs:simpleType>
        </xs:element>
        <xs:element type="xs:string" name="title"/>
        <xs:element name="dc_titles">
          <xs:complexType>
            <xs:choice>
              <xs:element type="xs:string" name="archief"/>
              <xs:element type="xs:string" name="deelarchief"/>
              <xs:element type="xs:string" name="reeks"/>
              <xs:element type="xs:string" name="deelreeks"/>
              <xs:element type="xs:string" name="serie"/>
              <xs:element type="xs:byte" name="serienummer">
                <xs:simpleType>
                  <xs:restriction base="xs:integer">
                    <xs:pattern value="[0-9]+"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element type="xs:string" name="seizoen"/>
              <xs:element type="xs:integer" name="seizoennummer"/>
              <xs:element type="xs:string" name="programma"/>
              <xs:element type="xs:string" name="alternatief"/>
            </xs:choice>
            <xs:attribute type="xs:string" name="type" use="required" fixed="list"/>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:dateTime" name="dcterms_issued"/>
        <xs:element type="xs:dateTime" name="dcterms_created"/>
        <xs:element name="dc_creators">
          <xs:complexType>
            <xs:choice>
              <xs:element type="xs:string" name="maker"/>
              <xs:element type="xs:string" name="archiefvormer"/>
              <xs:element type="xs:string" name="publisher"/>
              <xs:element type="xs:string" name="custom"/>
            </xs:choice>
            <xs:attribute type="xs:string" name="type" use="required" fixed="list"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="dc_contributors">
          <xs:complexType>
            <xs:choice>
              <xs:element type="xs:string" name="bijdrager"/>
              <xs:element type="xs:string" name="geluidsman"/>
              <xs:element type="xs:string" name="custom"/>
            </xs:choice>
            <xs:attribute type="xs:string" name="type" use="required" fixed="list"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="dc_publishers">
          <xs:complexType>
            <xs:choice>
              <xs:element type="xs:string" name="publisher"/>
              <xs:element type="xs:string" name="omroep"/>
              <xs:element type="xs:string" name="distributeur"/>
              <xs:element type="xs:string" name="persagentschap"/>
            </xs:choice>
            <xs:attribute type="xs:string" name="type" use="required" fixed="list"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="dc_subjects">
          <xs:complexType>
            <xs:choice>
              <xs:element type="xs:string" name="trefwoord"/>
            </xs:choice>
            <xs:attribute type="xs:string" name="type" use="required" fixed="list"/>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="description"/>
        <xs:element type="xs:string" name="dc_description_long"/>
        <xs:element type="xs:string" name="dc_description_programme"/>
        <xs:element type="xs:string" name="dc_description_cast"/>
        <xs:element type="xs:string" name="dc_description_ondertitels"/>
        <xs:element type="xs:string" name="dc_description_transcriptie"/>
        <xs:element name="dc_types">
          <xs:complexType>
            <xs:choice>
              <xs:element type="xs:string" name="genre"/>
            </xs:choice>
            <xs:attribute type="xs:string" name="type" use="required" fixed="list"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="dc_coverages">
          <xs:complexType>
            <xs:choice>
              <xs:element type="xs:string" name="ruimte" minOccurs="0"/>
              <xs:element type="xs:string" name="tijd" minOccurs="0"/>
              <xs:element type="xs:string" name="trefwoord" maxOccurs="unbounded" minOccurs="0"/>
            </xs:choice>
            <xs:attribute type="xs:string" name="type" use="required" fixed="list"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="dc_languages">
          <xs:complexType>
            <xs:choice>
              <xs:element type="xs:string" name="multiselect" maxOccurs="unbounded" minOccurs="0"/>
            </xs:choice>
            <xs:attribute type="xs:string" name="type" use="required" fixed="list"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="dc_rights_licenses">
          <xs:complexType>
            <xs:choice>
              <xs:element type="xs:string" name="licentie"/>
            </xs:choice>
            <xs:attribute type="xs:string" name="type" use="required" fixed="list"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="dc_rights_rightsOwners">
          <xs:complexType>
            <xs:choice>
              <xs:element type="xs:string" name="auteursrechthouder"/>
            </xs:choice>
            <xs:attribute type="xs:string" name="type" use="required" fixed="list"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="dc_rights_rightsHolders">
          <xs:complexType>
            <xs:choice>
              <xs:element type="xs:string" name="licentiehouder"/>
            </xs:choice>
            <xs:attribute type="xs:string" name="type" use="required" fixed="list"/>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="dc_rights_credit"/>
        <xs:element type="xs:string" name="dc_rights_comment"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
</xs:schema>